# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches: 
    include:
      - master
      - refs/tags/v*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CopyFiles@2
  displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
  inputs:
    contents: '**/*'
    targetFolder: $(Build.ArtifactStagingDirectory)
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/master'),contains(variables['Build.SourceBranch'], 'refs/tags/v')))

- task: PublishBuildArtifacts@1
  displayName: 'Publish src to: $(Build.ArtifactStagingDirectory)'
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)' 
    artifactName: 'deploy' 
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/master'),contains(variables['Build.SourceBranch'], 'refs/tags/v')))
  
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8'

- script: python --version
  displayName: 'Python version'

- script: python -m pip install --upgrade pip
  displayName: 'Install tools'

- script: pip install -r requirements.txt
  workingDirectory: src/apps/slack
  displayName: 'Install requirements'

- script: pylint src --ignore=tests
  displayName: 'Run linter'

- script: pytest
  workingDirectory: src/apps/slack
  displayName: 'Run tests'

- script: py.test --cov-report xml:coverage.xml --cov .
  workingDirectory: src/apps/slack
  displayName: 'Generate coverage report'

- task: Docker@1
  displayName: Container registry login
  inputs:
    containerregistrytype: Container Registry
    dockerRegistryEndpoint: DockerHub
    command: login
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/master'),contains(variables['Build.SourceBranch'], 'refs/tags/v')))

- script: docker build -t roymoran/slack-workspace:build -f ci/slackworkspace.Dockerfile src/slack
  displayName: 'build slack workspace app image'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))  
    
- script: docker push roymoran/slack-workspace:build
  displayName: 'push docker image'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))  
